.Container {
  width: 100vw;
  height: 100vh;
  /*position: relative;*/
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*transition: all ease-in-out 0.3s;*/
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
